<script type="application/javascript">
    //permet d'avoir une url propre
    window.history.pushState('','','/');
</script>


    <div class="row">
        <div class="col-lg-12 text-center v-center">
        <h1>NanarCode url Shortener</h1>
        <p class="lead">Un exemple concret pour commencer à utliser SailsJS</p>


        <form class="col-lg-12" method="POST" action="/urls">
            <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
                <input class="form-control input-lg" placeholder="Entrez votre url de 10 Km." type="url" id="longUrl" name="longUrl">
                <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="submit" id="buttonAdd">OK</button></span>
            </div>
        </form>
        </div>
    </div>
    <%
    if(typeof error != 'undefined'){
        %>
            <div class="row">
                <div class="col-lg-12 text-center">
            <p class="lead"><%= error %></p>
                </div>
            </div
            <%
    }if(typeof created != 'undefined' && created == true){
                var link = hostname+'/redirect/'+shortUrl;
        %>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                    <p class="lead"><a href="<%= link %>"><%= link %></a> </p>
                        </div>

                    </div>
                    <%
        }
     %>

    <div class="row">
        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
            <a href="https://www.facebook.com/nanarcode"><i class="icon-facebook"></i></a>
            <a href="https://twitter.com/nanarcode"><i class="icon-twitter"></i></a>
            <a href="https://github.com/nanarcode"><i class="icon-github"></i></a>
        </div>
    </div>
