<!DOCTYPE html>
<html>
<head>
    <title>NanarCode Shortener</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles_ugly.css">
</head>

<body>
<div class="container-full">
    <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Accueil</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <%
                        if(typeof username != 'undefined'){
                        %>
                        <li><a href="/dashboard"><%= username %></a></li>
                        <%
                        }else{
                        %>
                        <li><a href="/register">S'enregistrer</a></li>
                        <li><a href="/login">Se connecter</a></li>
                        <%
                        }
                        %>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
    </div>
    <%- body %>

</div>
</body>
</html>