<!DOCTYPE html>
<html>
  <head>
    <title>NanarCode Shortener</title>
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
      <link rel="stylesheet" href="/styles/styles.css">


  </head>

  <body>
    <%- body %>
  </body>
</html>
